body {
    background-color: 	#020102;
  }
@font-face {
    font-family: DM Sans;
     src: url('./DMSans-Regular.ttf');
}

  h2 {
    color: #FFFFFF;
    text-align: center;
    font-family: 'DM Sans';
    text-shadow: 
             -1px -1px 0px #1a0d1a, 
             -1px 1px 0px #1a0d1a,                    
              1px -1px 0px #1a0d1a,                  
              1px 0px 0px #1a0d1a;
  }

input {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }
input[type=text]:focus {
    background-color: #c880ff;
  }

.button-62 {
  background: linear-gradient(to bottom right, #8956f1, #c880ff);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  position: absolute;
  left: 620px;
  top: 565px;


  
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #020102, .125rem .125rem 1rem #020102;
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #020102, .125rem .125rem 1rem #020102;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans';
  color: #FFFFFF;

  
  }
  .box {
  width: 300px;
  height: 500px;
  background-color: #241b35;
  border: 30px solid #241b35; 
  border-radius: 10px;
  
  }
